n8n/workflow_raw.json
{"updatedAt":"2026-04-06T03:34:29.624Z","createdAt":"2026-03-31T03:26:21.463Z","id":"2EZ0PqE6jOX9NHwo","name":"Lola Bot - Ventas El Istmo","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"lola-webhook","responseMode":"responseNode","options":{}},"id":"1887b2b3-5631-49c5-94e3-cd88d85c5b5a","name":"WhatsApp Webhook POST","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,304],"webhookId":"lola-webhook-post"},{"parameters":{"path":"lola-webhook","responseMode":"responseNode","options":{}},"id":"da19a748-3ddb-434f-918c-2160af1234ca","name":"WhatsApp Webhook GET","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,-208],"webhookId":"lola-webhook-get"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"id":"c0229699-365d-42e4-8b48-4e55961667d4","name":"Responder Verificacion","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[224,-208]},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\n\nlet messageType = 'unknown';\nlet messageContent = '';\nlet phoneNumber = '';\nlet messageId = '';\nlet mediaId = '';\nlet imageCaption = '';\n\ntry {\n  const entry = body.entry[0];\n  const change = entry.changes[0];\n  const value = change.value;\n\n  if (!value.messages || value.messages.length === 0) {\n    return [];\n  }\n\n  const msg = value.messages[0];\n  phoneNumber = msg.from;\n  messageId = msg.id;\n  messageType = msg.type;\n\n  if (msg.type === 'text') {\n    messageContent = msg.text.body;\n  } else if (msg.type === 'audio') {\n    mediaId = msg.audio.id;\n    messageContent = '[AUDIO]';\n  } else if (msg.type === 'image') {\n    mediaId = msg.image.id;\n    imageCaption = msg.image.caption || '';\n    messageContent = '[IMAGEN]';\n  } else {\n    messageType = 'unsupported';\n    messageContent = msg.type;\n  }\n} catch (error) {\n  return [];\n}\n\nreturn [{\n  json: {\n    phoneNumber,\n    messageId,\n    messageType,\n    messageContent,\n    mediaId,\n    imageCaption\n  }\n}];"},"id":"66728e03-2f1a-42c0-991e-8b0a01691b6a","name":"Extraer Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,304]},{"parameters":{"respondWith":"noData","options":{}},"id":"3462fb59-a030-4b15-9e8a-b0470fc43523","name":"Responder 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[448,208]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: 'whatsapp', status: 'read', message_id: $json.messageId }) }}","options":{}},"id":"017ef40e-6a60-49ea-bfde-c206c6b283ec","name":"Marcar como Leido","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,400],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const item = $input.first().json;\nconst type = item.messageType;\n\nif (type === 'text') {\n  return [{ json: { ...item, route: 'text' } }];\n} else if (type === 'audio') {\n  return [{ json: { ...item, route: 'audio' } }];\n} else if (type === 'image') {\n  return [{ json: { ...item, route: 'image' } }];\n} else {\n  return [{ json: { ...item, route: 'unsupported' } }];\n}"},"id":"e8ca6843-93e3-4f64-88ed-649effb8c116","name":"Detectar Tipo","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,400]},{"parameters":{"jsCode":"const item = $('Extraer Datos').first().json;\nif (item.messageType === 'text') {\n  return [{ json: item }];\n}\nreturn [];"},"id":"3d326a2e-1edc-4cef-88aa-94079b5931d3","name":"Solo Texto","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,112]},{"parameters":{"jsCode":"const item = $('Extraer Datos').first().json;\nif (item.messageType === 'audio') {\n  return [{ json: item }];\n}\nreturn [];"},"id":"bfd8cbf8-da88-446f-aaff-0c53c5cbf74d","name":"Solo Audio","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,400]},{"parameters":{"jsCode":"const item = $('Extraer Datos').first().json;\nif (item.messageType === 'image') {\n  return [{ json: item }];\n}\nreturn [];"},"id":"0b9e1f4c-4763-4f54-8310-bd8ee4877743","name":"Solo Imagen","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,784]},{"parameters":{"url":"=https://graph.facebook.com/v21.0/{{ $json.mediaId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"4b5ece41-e23a-4995-953d-1e5851f543b7","name":"Obtener URL Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,400],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"557f8fe6-8d5a-4dc5-8684-14b48b82ec56","name":"Descargar Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,400],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"model","value":"whisper-1"},{"name":"language","value":"es"}]},"options":{}},"id":"1ab921af-7271-451a-9da9-9ae7310c86c1","name":"OpenAI Whisper","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,400],"credentials":{"httpHeaderAuth":{"id":"Rg3uajuLBViWJXpv","name":"OpenAI API Key"}}},{"parameters":{"jsCode":"const transcription = $input.first().json.text || '[No se pudo transcribir el audio]';\nconst phoneNumber = $('Extraer Datos').first().json.phoneNumber;\n\nreturn [{\n  json: {\n    phoneNumber,\n    messageContent: '[El cliente envio un audio que dice]: ' + transcription,\n    isAudio: true\n  }\n}];"},"id":"8e259a86-1228-4975-9984-6ea5bf0b46eb","name":"Texto del Audio","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,400]},{"parameters":{"url":"=https://graph.facebook.com/v21.0/{{ $json.mediaId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"f1d68cc1-ec2a-4857-818a-d416389e3a71","name":"Obtener URL Imagen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,784],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"2bfb6d2e-a37e-493c-901e-6a427995bfae","name":"Descargar Imagen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,784],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"jsCode":"const phoneNumber = $('Extraer Datos').first().json.phoneNumber;\nconst caption = $('Extraer Datos').first().json.imageCaption;\n\nlet messageContent = '[El cliente envio una imagen';\nif (caption) {\n  messageContent += ' con el texto: ' + caption;\n}\nmessageContent += ']. Responde de forma amigable. Si parece ser de comida o del restaurante, comenta al respecto. Si no entiendes el contexto, pregunta amablemente en que puedes ayudar.';\n\nreturn [{\n  json: {\n    phoneNumber,\n    messageContent,\n    isAudio: false\n  }\n}];"},"id":"7a0d49d9-faa3-4cdf-8150-2a3658613cae","name":"Texto de Imagen","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,784]},{"parameters":{"jsCode":"const item = $('Extraer Datos').first().json;\nif (item.messageType !== 'text' && item.messageType !== 'audio' && item.messageType !== 'image') {\n  return [{\n    json: {\n      phoneNumber: item.phoneNumber,\n      responseText: 'Hola! \\ud83d\\ude0a Por ahora puedo leer mensajes de texto, notas de voz e imagenes. Escribeme o mandame un audio con lo que necesites!'\n    }\n  }];\n}\nreturn [];"},"id":"e07ae0e8-7737-485a-9ff8-429ebdf30156","name":"Msg No Soportado","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,592]},{"parameters":{"jsCode":"\nconst item = $('Extraer Datos').first().json;\n\nreturn [{\n  json: {\n    phoneNumber: item.phoneNumber,\n    messageContent: item.messageContent,\n    isAudio: false\n  }\n}];"},"id":"9cd2a824-c66b-4d66-a0c9-1758183a83ec","name":"Preparar Texto","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,112]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 500, system: 'Eres Lola, la asistente virtual de WhatsApp del Restaurante El Istmo, ubicado en Panama City, Panama.\\n\\nPERSONALIDAD:\\n- Amigable, calida y natural. Hablas en español panameño (usa \"dale\", \"chevere\", \"que xopa\" cuando sea natural, pero sin forzar).\\n- Usas algun emoji pero sin exagerar (maximo 2-3 por mensaje).\\n- No eres demasiado formal. Eres como una amiga que trabaja en el restaurante.\\n- Siempre que alguien pregunte \"que recomiendas?\", sugiere el Arroz con Pollo como el plato mas pedido.\\n\\nINFORMACION DEL RESTAURANTE:\\n- Nombre: Restaurante El Istmo\\n- Ubicacion: Casco Viejo, Panama City\\n- Horario: Lunes a Sabado 11:00 AM - 10:00 PM | Domingos 12:00 PM - 9:00 PM\\n- Zonas de delivery: Casco Viejo, Marbella, Punta Pacifica, San Francisco\\n- Costo de delivery: $3.00\\n- Tiempo estimado delivery: 30 minutos\\n- Tiempo estimado recoger en restaurante: 15 minutos\\n- Metodos de pago: Efectivo, Yappy, tarjeta al recibir\\n\\nMENU COMPLETO:\\n=== PLATOS FUERTES ===\\n- Arroz con Pollo: $8.50 — Arroz amarillo con pollo desmechado, aceitunas y vegetales. Ingredientes: arroz, pollo, aceitunas, zanahoria, cebolla, ajo, culantro, achiote. Alergenos: ninguno.\\n- Sancocho: $7.00 — Sopa tradicional panameña con gallina, ñame, otoe y culantro. Ingredientes: gallina, ñame, otoe, culantro, cebolla, ajo, oregano, maiz. Alergenos: ninguno.\\n- Ropa Vieja: $9.50 — Carne desmechada en salsa de tomate con pimientos y especias. Ingredientes: carne de res, tomate, pimiento, cebolla, ajo, comino, laurel. Alergenos: ninguno.\\n- Ceviche de Corvina: $10.00 — Corvina fresca marinada en limon con cebolla morada y culantro. Ingredientes: corvina, limon, cebolla morada, culantro, aji chombo, sal. Alergenos: pescado.\\n- Patacones con Todo: $6.50 — Patacones crujientes con carne, pollo, queso y salsas. Ingredientes: platano verde, carne molida, pollo, queso, salsa rosada, curtido. Alergenos: lacteos.\\n- Pollo en Salsa: $8.00 — Presas de pollo en salsa criolla con arroz blanco. Ingredientes: pollo, tomate, cebolla, pimiento, ajo, arroz, aceite. Alergenos: ninguno.\\n- Ensalada del Mar: $11.00 — Mix de mariscos frescos sobre cama de lechugas con vinagreta. Ingredientes: camarones, pulpo, calamar, lechuga, tomate, aguacate, vinagreta. Alergenos: mariscos.\\n\\n=== BEBIDAS ===\\n- Agua: $1.00\\n- Jugo Natural: $2.50 (del dia: naranja, maracuya o limonada)\\n- Refresco: $1.50 (Coca-Cola, Sprite, Fanta)\\n\\nREGLAS PARA TOMAR PEDIDOS:\\n1. Cuando el cliente quiera ordenar, pregunta: delivery o para recoger?\\n2. Si es delivery, confirma que la zona este dentro de las zonas de cobertura.\\n3. Si es delivery, pide la direccion exacta.\\n4. Acepta modificaciones (sin cebolla, extra salsa, etc.) y confirmalas.\\n5. Antes de confirmar el pedido, muestra un resumen con cada plato/bebida con precio, modificaciones, subtotal, costo de delivery (si aplica), total, tiempo estimado y metodo de pago.\\n6. Pide confirmacion antes de enviar el pedido.\\n7. Cuando confirmen, di que el pedido fue recibido y da el tiempo estimado.\\n\\nREGLAS GENERALES:\\n- Si el cliente pregunta algo que no sabes, dile que vas a consultar con el equipo.\\n- Si el cliente pide hablar con una persona real, dile: \"Dale, ya te comunico con alguien del equipo. Un momento por fa\" y agrega [ESCALAR_A_HUMANO]\\n- No inventes informacion. Responde SOLO en español. Manten las respuestas concisas.', messages: [{ role: 'user', content: $json.messageContent }] }) }}","options":{}},"id":"a09612bd-7da7-4f2e-a90a-277e76363dba","name":"Claude AI Lola","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,496],"credentials":{"httpHeaderAuth":{"id":"QgassfKnwcBfuDFW","name":"Anthropic API Key"}}},{"parameters":{"jsCode":"const response = $input.first().json;\nlet text = \"\";\n\ntry {\n  text = response.content[0].text;\n} catch (e) {\n  text = \"Ay, disculpa! Tuve un problemita tecnico. Intenta de nuevo en un momentito.\";\n}\n\nconst needsEscalation = text.includes(\"[ESCALAR_A_HUMANO]\");\nif (needsEscalation) {\n  text = text.replace(\"[ESCALAR_A_HUMANO]\", \"\").trim();\n}\n\n// Detect confirmed order\nconst hasOrder = text.includes(\"[PEDIDO_CONFIRMADO]\");\nlet orderDetails = \"\";\nif (hasOrder) {\n  const orderMatch = text.match(/\\[PEDIDO_CONFIRMADO\\]([\\s\\S]*?)\\[FIN_PEDIDO\\]/);\n  if (orderMatch) {\n    orderDetails = orderMatch[1].trim();\n  }\n  text = text.replace(/\\[PEDIDO_CONFIRMADO\\][\\s\\S]*?\\[FIN_PEDIDO\\]/, \"\").trim();\n}\n\nconst phoneNumber = $(\"Extraer Datos\").first().json.phoneNumber;\n\nlet isAudio = false;\ntry {\n  isAudio = $(\"Texto del Audio\").first().json.isAudio === true;\n} catch(e) {\n  try {\n    isAudio = $(\"Preparar Texto\").first().json.isAudio === true;\n  } catch(e2) {\n    try {\n      isAudio = $(\"Texto de Imagen\").first().json.isAudio === true;\n    } catch(e3) {\n      isAudio = false;\n    }\n  }\n}\n\nif (text.length > 4000) {\n  text = text.substring(0, 4000) + \"...\";\n}\n\nreturn [{\n  json: {\n    phoneNumber,\n    responseText: text,\n    needsEscalation,\n    isAudio,\n    hasOrder,\n    orderDetails\n  }\n}];"},"id":"dd86c662-e82d-4a93-80be-3cf4e514906a","name":"Procesar Respuesta","type":"n8n-nodes-base.code","typeVersion":2,"position":[2464,496]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phoneNumber, type: 'text', text: { body: $json.responseText } }) }}","options":{}},"id":"4792c395-f2cc-49bb-bc7f-6bfe7d8f7644","name":"Enviar WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3136,592],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phoneNumber, type: 'text', text: { body: $json.responseText } }) }}","options":{}},"id":"9eb73d4e-abc9-4623-b72b-ef26ffc9a4d2","name":"Enviar Msg No Soportado","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,592],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"jsCode":"const item = $input.first().json;\nif (item.isAudio) {\n  return [{ json: item }];\n}\nreturn [];"},"id":"tts-check-audio","name":"Es Respuesta Audio?","type":"n8n-nodes-base.code","typeVersion":2,"position":[2912,208]},{"parameters":{"jsCode":"const item = $input.first().json;\nif (!item.isAudio) {\n  return [{ json: item }];\n}\nreturn [];"},"id":"tts-check-text","name":"Es Respuesta Texto?","type":"n8n-nodes-base.code","typeVersion":2,"position":[2912,592]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/speech","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'tts-1', input: $json.responseText, voice: 'nova', response_format: 'mp3' }) }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"tts-elevenlabs","name":"OpenAI TTS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3136,208],"credentials":{"httpHeaderAuth":{"id":"Rg3uajuLBViWJXpv","name":"OpenAI API Key"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/media","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"messaging_product","value":"whatsapp"},{"name":"type","value":"audio/mpeg"}]},"options":{}},"id":"upload-media","name":"Subir Audio a WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3360,208],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: 'whatsapp', to: $('Procesar Respuesta').first().json.phoneNumber, type: 'audio', audio: { id: $json.id } }) }}","options":{}},"id":"send-audio-wa","name":"Enviar Audio WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3584,208],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"jsCode":"\n// Skip if this is an order flow (cantidad or direccion)\nconst route = $input.first().json._route;\nif (route && route !== 'normal') return [];\n\n// ========== MENU DE LOLA - EDITA AQUI ==========\n// Cambia productos, precios y disponibilidad\n// Para agregar: copia una linea y modifica\n// Para quitar: borra la linea o pon disponible: false\n\nconst MENU = [\n  { producto: \"Chicharrones\", precio: 6.00, descripcion: \"Chicharrones crujientes artesanales\", disponible: true },\n  { producto: \"Empanadas de Carne\", precio: 1.50, descripcion: \"Empanadas rellenas de carne molida\", disponible: true },\n  { producto: \"Empanadas de Pollo\", precio: 1.50, descripcion: \"Empanadas rellenas de pollo desmechado\", disponible: true },\n  { producto: \"Patacones con Queso\", precio: 4.00, descripcion: \"Patacones dobles con queso fundido\", disponible: true },\n  { producto: \"Ceviche de Corvina\", precio: 8.00, descripcion: \"Ceviche fresco del dia\", disponible: true },\n  { producto: \"Arroz con Pollo\", precio: 5.00, descripcion: \"Arroz con pollo panameno\", disponible: true },\n];\n\n// ========== NO TOCAR DE AQUI PARA ABAJO ==========\nconst menuDisponible = MENU.filter(m => m.disponible);\nconst menuTexto = menuDisponible.map(m => \"- \" + m.producto + \" - $\" + m.precio.toFixed(2) + \" (\" + m.descripcion + \")\").join(\"\\n\");\n\nreturn [{\n  json: {\n    menu: MENU,\n    menuDisponible,\n    menuTexto,\n    phoneNumber: $input.first().json.phoneNumber,\n    messageContent: $input.first().json.messageContent,\n    isAudio: $input.first().json.isAudio || false\n  }\n}];"},"id":"menu-node-001","name":"Menu del Negocio","type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,496]},{"parameters":{"jsCode":"\nconst ADMIN = \"50768384242\";\nconst item = $input.first().json;\nconst phone = item.phoneNumber;\nconst msg = (item.messageContent || \"\").toLowerCase().trim();\nconst esCadena = msg.includes(\"cadena\");\nconst esAdmin = phone === ADMIN;\n\nif (esAdmin && esCadena) {\n  // Clear admin's own order state so cadena command works\n  const staticData = $getWorkflowStaticData('global');\n  delete staticData['pedido_' + ADMIN];\n  return [{ json: { ...item, esCadena: true } }];\n} else {\n  return [];\n}\n"},"id":"es-admin-001","name":"Es Comando Cadena?","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,16]},{"parameters":{"jsCode":"\nconst msg = ($input.first().json.messageContent || \"\").toLowerCase().trim();\nconst esCadena = msg.includes(\"cadena\") || msg.includes(\"manda la cadena\") || msg.includes(\"manda cadena\");\nif (esCadena) return [];\nreturn $input.all();\n"},"id":"no-cadena-001","name":"No Es Cadena","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,208]},{"parameters":{"jsCode":"const imageUrl = \"https://raw.githubusercontent.com/banshyapp-maker/lola-whatsapp-bot/main/n8n/imagen-cadena.jpeg\";\nconst caption = \"Hola, soy Jonathan \\ud83d\\udc4b\" + \"\\n\" + \"\\n\" + \"El d\\u00eda viernes 27 estaremos cocinando esto\" + \"\\n\" + \"\\n\" + \"\\ud83d\\udcb0 $8.00\" + \"\\n\" + \"\\ud83d\\udef5 Delivery GRATIS\" + \"\\n\" + \"\\n\" + \"\\u00bfCu\\u00e1ntos te aparto? Responde con la cantidad \\ud83d\\ude09\";\nreturn [{ json: { imageUrl, caption } }];"},"id":"generar-cadena-001","name":"Generar Cadena","type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,16]},{"parameters":{"jsCode":"\nconst CONTACTOS = [\n  { numero: \"50769815135\", nombre: \"Vladimir\" },\n  { numero: \"50768384242\", nombre: \"Veronica\" },\n];\n\nconst imageUrl = $input.first().json.imageUrl;\nconst caption  = $input.first().json.caption;\n\nconst staticData = $getWorkflowStaticData('global');\nfor (const c of CONTACTOS) {\n  staticData['pedido_' + c.numero] = {\n    estado: 'en_pedido',\n    historial: [],\n    datos: { cantidad: '', nombre: '', direccion: '' }\n  };\n}\n\nreturn CONTACTOS.map(c => ({\n  json: { phoneNumber: c.numero, nombre: c.nombre, imageUrl, caption }\n}));\n"},"id":"lista-contactos-001","name":"Lista de Contactos","type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,16]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: \"whatsapp\", to: $json.phoneNumber, type: \"image\", image: { link: $json.imageUrl, caption: $json.caption } }) }}","options":{}},"id":"enviar-cadena-001","name":"Enviar Cadena","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,16],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: \"whatsapp\", to: \"50768384242\", type: \"text\", text: { body: \"Cadena enviada a todos los contactos de la lista.\" } }) }}","options":{}},"id":"confirmar-envio-001","name":"Confirmar Envio al Admin","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2688,16],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"jsCode":"const item = $input.first().json;\n\nif (item.hasOrder && item.orderDetails) {\n  const now = new Date().toLocaleString(\"es-PA\", { timeZone: \"America/Panama\" });\n  const mensaje = \"NUEVO PEDIDO\\n\\n\"\n    + \"Fecha: \" + now + \"\\n\"\n    + \"Tel: \" + item.phoneNumber + \"\\n\\n\"\n    + item.orderDetails + \"\\n\\n\"\n    + \"---\\nResponde al cliente para confirmar entrega.\";\n  return [{ json: { ...item, adminNotifMsg: mensaje } }];\n}\nreturn [{ json: item }];"},"id":"notificar-pedido-001","name":"Preparar Notif Pedido","type":"n8n-nodes-base.code","typeVersion":2,"position":[2688,496]},{"parameters":{"jsCode":"const item = $input.first().json;\nif (item.hasOrder && item.adminNotifMsg) {\n  return [{ json: { mensaje: item.adminNotifMsg } }];\n}\nreturn [];"},"id":"filtro-pedido-001","name":"Tiene Pedido?","type":"n8n-nodes-base.code","typeVersion":2,"position":[2912,400]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: \"whatsapp\", to: \"50768384242\", type: \"text\", text: { body: $json.mensaje } }) }}","options":{}},"id":"http-notif-admin-001","name":"WhatsApp Notif Admin","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3136,400],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"jsCode":"\nconst staticData = $getWorkflowStaticData('global');\nconst phone = $input.first().json.phoneNumber;\nconst pedido = staticData['pedido_' + phone];\nif (pedido && pedido.estado === 'en_pedido') {\n  return [{ json: { ...$input.first().json, estadoPedido: 'en_pedido', pedidoDatos: pedido.datos, pedidoHistorial: pedido.historial } }];\n} else {\n  return [{ json: { ...$input.first().json, estadoPedido: 'normal' } }];\n}\n"},"id":"order-check-001","name":"Verificar Estado Pedido","type":"n8n-nodes-base.code","typeVersion":2,"position":[1060,400]},{"parameters":{"jsCode":"\nconst estado = $input.first().json.estadoPedido;\nconst item = $input.first().json;\nif (estado === 'en_pedido') {\n  return [{ json: { ...item, _route: 'pedido' } }];\n} else {\n  return [{ json: { ...item, _route: 'normal' } }];\n}\n"},"id":"order-route-001","name":"Routear Pedido","type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,400]},{"parameters":{"jsCode":"\nconst route = $input.first().json._route;\nif (route !== 'cantidad') return [];\n\nconst staticData = $getWorkflowStaticData('global');\nconst phone    = $input.first().json.phoneNumber;\nconst cantidad = $input.first().json.messageContent;\n\nstaticData['pedido_' + phone] = {\n  estado: 'esperando_nombre',\n  cantidad: cantidad\n};\n\nreturn [{ json: {\n  phoneNumber: phone,\n  respuesta: \"\\u2705 Perfecto! *\" + cantidad + \"* de Arroz con Marisco anotado.\\n\\n\\u00bfCu\\u00e1l es tu *nombre*?\"\n}}];\n"},"id":"order-qty-001","name":"Guardar Cantidad","type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,300]},{"parameters":{"jsCode":"\nconst route = $input.first().json._route;\nif (route !== 'direccion') return [];\n\nconst staticData = $getWorkflowStaticData('global');\nconst phone     = $input.first().json.phoneNumber;\nconst direccion = $input.first().json.messageContent;\nconst pedido    = staticData['pedido_' + phone] || {};\n\nconst resumen = {\n  telefono: phone,\n  nombre:   pedido.nombre   || phone,\n  cantidad: pedido.cantidad || 'N/A',\n  direccion: direccion,\n  hora: new Date().toLocaleString('es-PA', { timeZone: 'America/Panama' })\n};\n\ndelete staticData['pedido_' + phone];\n\nreturn [{ json: {\n  phoneNumber: phone,\n  respuesta: \"\\ud83c\\udf89 *Pedido confirmado!*\\n\\n\\ud83d\\udc64 \" + resumen.nombre + \"\\n\\ud83d\\udce6 Cantidad: \" + resumen.cantidad + \"\\n\\ud83d\\udccd Direcci\\u00f3n: \" + resumen.direccion + \"\\n\\u23f1\\ufe0f En camino pronto!\\n\\nGracias por tu pedido! \\ud83d\\ude0a\\ud83d\\udef5\",\n  pedidoFinal: resumen\n}}];\n"},"id":"order-addr-001","name":"Confirmar Pedido","type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,500]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: \"whatsapp\", to: $json.phoneNumber, type: \"text\", text: { body: $json.respuesta } }) }}","options":{}},"id":"order-send-001","name":"Enviar Respuesta Pedido","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,400],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: \"whatsapp\", to: \"50768384242\", type: \"text\", text: { body: \"📋 *NUEVO PEDIDO*\\n👤 \" + $json.pedidoFinal.nombre + \" (\" + $json.pedidoFinal.telefono + \")\\n📦 Cantidad: \" + $json.pedidoFinal.cantidad + \"\\n📍 Dirección: \" + $json.pedidoFinal.direccion + \"\\n🕐 \" + $json.pedidoFinal.hora } }) }}","options":{}},"id":"order-notif-001","name":"Notif Admin Pedido","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2020,400],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"jsCode":"\nconst route = $input.first().json._route;\nif (route !== 'nombre') return [];\n\nconst staticData = $getWorkflowStaticData('global');\nconst phone  = $input.first().json.phoneNumber;\nconst nombre = $input.first().json.messageContent;\nconst pedido = staticData['pedido_' + phone] || {};\n\nstaticData['pedido_' + phone] = {\n  estado: 'esperando_direccion',\n  cantidad: pedido.cantidad || 'N/A',\n  nombre: nombre\n};\n\nreturn [{ json: {\n  phoneNumber: phone,\n  respuesta: \"Gracias \" + nombre + \"! \\ud83d\\udccd \\u00bfCu\\u00e1l es tu *direcci\\u00f3n de entrega*?\"\n}}];\n"},"id":"order-name-001","name":"Guardar Nombre","type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,200]},{"parameters":{"jsCode":"\nconst route = $input.first().json._route;\nif (route !== 'pedido') return [];\n\nconst staticData = $getWorkflowStaticData('global');\nconst phone = $input.first().json.phoneNumber;\nconst mensaje = $input.first().json.messageContent;\nconst pedido = staticData['pedido_' + phone] || { estado: 'en_pedido', historial: [], datos: { cantidad: '', nombre: '', direccion: '' } };\n\npedido.historial.push({ role: 'cliente', text: mensaje });\nstaticData['pedido_' + phone] = pedido;\nstaticData['_current_phone'] = phone;\n\nconst historialTexto = pedido.historial.map(function(h) { return h.role === 'cliente' ? 'Cliente: ' + h.text : 'Lola: ' + h.text; }).join(' | ');\nconst datosTexto = 'Cantidad: ' + (pedido.datos.cantidad || 'NO TIENE') + ', Nombre: ' + (pedido.datos.nombre || 'NO TIENE') + ', Direccion: ' + (pedido.datos.direccion || 'NO TIENE');\n\nreturn [{ json: {\n  phoneNumber: phone,\n  historial: historialTexto,\n  datosActuales: datosTexto,\n  mensajeCliente: mensaje\n}}];\n"},"id":"smart-order-prep-001","name":"Preparar Pedido Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,150]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 300, system: \"Eres Lola, asistente de pedidos del Restaurante El Istmo. Hablas casual panameño.\\n\\nHOY SE VENDE:\\n- Arroz con Marisco con ensalada de repollo y platano en tentacion - $8.00 por porcion\\n- Delivery GRATIS\\n\\nTu trabajo es obtener del cliente estos 3 datos:\\n1. CANTIDAD de porciones\\n2. NOMBRE del cliente\\n3. DIRECCION de entrega\\n\\nREGLAS:\\n- Se amable y breve, habla panameño casual\\n- Si el cliente da varios datos en un mensaje, anotalos todos\\n- Si falta info, pregunta SOLO lo que falta de forma natural\\n- NO mandes el menu del restaurante, solo se vende lo de la promocion de hoy\\n- Cuando tengas los 3 datos COMPLETOS, confirma el pedido mostrando resumen y al FINAL agrega en una linea aparte exactamente asi:\\n[PEDIDO_LISTO|cantidad:X|nombre:NOMBRE|direccion:DIRECCION]\\n- SOLO agrega esa linea cuando tengas los 3 datos completos\\n- Si el cliente dice algo como \\\"quiero 2\\\" ya tienes la cantidad, pregunta nombre y direccion\", messages: [{ role: 'user', content: 'Datos recopilados: ' + $json.datosActuales + '. Historial de conversacion: ' + $json.historial + '. Nuevo mensaje del cliente: ' + $json.mensajeCliente }] }) }}","options":{}},"id":"smart-order-claude-001","name":"Claude Pedidos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,150],"credentials":{"httpHeaderAuth":{"id":"QgassfKnwcBfuDFW","name":"Anthropic API Key"}}},{"parameters":{"jsCode":"\nconst staticData = $getWorkflowStaticData('global');\nconst phone = staticData['_current_phone'] || '';\n\nconst apiResponse = $input.first().json;\nlet respuesta = '';\nif (apiResponse.content && apiResponse.content[0]) {\n  respuesta = apiResponse.content[0].text;\n} else {\n  respuesta = 'Lo siento, hubo un error. Intenta de nuevo.';\n}\n\nconst marker = /\\[PEDIDO_LISTO\\|cantidad:(.+?)\\|nombre:(.+?)\\|direccion:(.+?)\\]/;\nconst match = respuesta.match(marker);\nconst respuestaLimpia = respuesta.replace(marker, '').trim();\n\nconst pedido = staticData['pedido_' + phone] || { historial: [], datos: {} };\npedido.historial.push({ role: 'lola', text: respuestaLimpia });\n\nif (match) {\n  const resumen = {\n    telefono: phone,\n    cantidad: match[1].trim(),\n    nombre: match[2].trim(),\n    direccion: match[3].trim(),\n    hora: new Date().toLocaleString('es-PA', { timeZone: 'America/Panama' })\n  };\n  delete staticData['pedido_' + phone];\n  delete staticData['_current_phone'];\n\n  return [{ json: {\n    phoneNumber: phone,\n    respuesta: respuestaLimpia,\n    pedidoCompleto: true,\n    pedidoFinal: resumen\n  }}];\n} else {\n  staticData['pedido_' + phone] = pedido;\n  return [{ json: {\n    phoneNumber: phone,\n    respuesta: respuestaLimpia,\n    pedidoCompleto: false,\n    pedidoFinal: null\n  }}];\n}\n"},"id":"smart-order-proc-001","name":"Procesar Respuesta Pedido","type":"n8n-nodes-base.code","typeVersion":2,"position":[2020,150]},{"parameters":{"jsCode":"\nif (!$input.first().json.pedidoCompleto) return [];\nconst p = $input.first().json.pedidoFinal;\nreturn [{ json: {\n  to: \"50768384242\",\n  body: \"\\ud83d\\udccb *NUEVO PEDIDO*\\n\\ud83d\\udc64 \" + p.nombre + \" (\" + p.telefono + \")\\n\\ud83d\\udce6 Cantidad: \" + p.cantidad + \"\\n\\ud83d\\udccd Direcci\\u00f3n: \" + p.direccion + \"\\n\\ud83d\\udd51 \" + p.hora\n}}];\n"},"id":"smart-order-notif-001","name":"Notificar Admin Pedido","type":"n8n-nodes-base.code","typeVersion":2,"position":[2260,250]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: \"whatsapp\", to: $json.to, type: \"text\", text: { body: $json.body } }) }}","options":{}},"id":"smart-order-notif-wa-001","name":"Enviar Notif Admin WA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2500,250],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}}],"connections":{"WhatsApp Webhook GET":{"main":[[{"node":"Responder Verificacion","type":"main","index":0}]]},"WhatsApp Webhook POST":{"main":[[{"node":"Extraer Datos","type":"main","index":0}]]},"Extraer Datos":{"main":[[{"node":"Responder 200","type":"main","index":0},{"node":"Marcar como Leido","type":"main","index":0},{"node":"Detectar Tipo","type":"main","index":0}]]},"Detectar Tipo":{"main":[[{"node":"Solo Texto","type":"main","index":0},{"node":"Solo Audio","type":"main","index":0},{"node":"Solo Imagen","type":"main","index":0},{"node":"Msg No Soportado","type":"main","index":0}]]},"Preparar Texto":{"main":[[{"node":"Es Comando Cadena?","type":"main","index":0},{"node":"No Es Cadena","type":"main","index":0}]]},"Obtener URL Audio":{"main":[[{"node":"Descargar Audio","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"OpenAI Whisper","type":"main","index":0}]]},"Texto del Audio":{"main":[[{"node":"Menu del Negocio","type":"main","index":0}]]},"Obtener URL Imagen":{"main":[[{"node":"Descargar Imagen","type":"main","index":0}]]},"Descargar Imagen":{"main":[[{"node":"Texto de Imagen","type":"main","index":0}]]},"Texto de Imagen":{"main":[[{"node":"Menu del Negocio","type":"main","index":0}]]},"Msg No Soportado":{"main":[[{"node":"Enviar Msg No Soportado","type":"main","index":0}]]},"Claude AI Lola":{"main":[[{"node":"Procesar Respuesta","type":"main","index":0}]]},"Procesar Respuesta":{"main":[[{"node":"Preparar Notif Pedido","type":"main","index":0}]]},"Solo Texto":{"main":[[{"node":"Preparar Texto","type":"main","index":0}]]},"Solo Audio":{"main":[[{"node":"Obtener URL Audio","type":"main","index":0}]]},"Solo Imagen":{"main":[[{"node":"Obtener URL Imagen","type":"main","index":0}]]},"Es Respuesta Texto?":{"main":[[{"node":"Enviar WhatsApp","type":"main","index":0}]]},"Es Respuesta Audio?":{"main":[[{"node":"OpenAI TTS","type":"main","index":0}]]},"Subir Audio a WhatsApp":{"main":[[{"node":"Enviar Audio WhatsApp","type":"main","index":0}]]},"OpenAI Whisper":{"main":[[{"node":"Texto del Audio","type":"main","index":0}]]},"OpenAI TTS":{"main":[[{"node":"Subir Audio a WhatsApp","type":"main","index":0}]]},"Es Comando Cadena?":{"main":[[{"node":"Generar Cadena","type":"main","index":0}]]},"Generar Cadena":{"main":[[{"node":"Lista de Contactos","type":"main","index":0}]]},"Lista de Contactos":{"main":[[{"node":"Enviar Cadena","type":"main","index":0}]]},"Enviar Cadena":{"main":[[]]},"No Es Cadena":{"main":[[{"node":"Verificar Estado Pedido","type":"main","index":0}]]},"Menu del Negocio":{"main":[[{"node":"Claude AI Lola","type":"main","index":0}]]},"Preparar Notif Pedido":{"main":[[{"node":"Es Respuesta Audio?","type":"main","index":0},{"node":"Es Respuesta Texto?","type":"main","index":0},{"node":"Tiene Pedido?","type":"main","index":0}]]},"Tiene Pedido?":{"main":[[{"node":"WhatsApp Notif Admin","type":"main","index":0}]]},"Verificar Estado Pedido":{"main":[[{"node":"Routear Pedido","type":"main","index":0}]]},"Routear Pedido":{"main":[[{"node":"Menu del Negocio","type":"main","index":0},{"node":"Preparar Pedido Claude","type":"main","index":0}]]},"Guardar Cantidad":{"main":[[{"node":"Enviar Respuesta Pedido","type":"main","index":0}]]},"Confirmar Pedido":{"main":[[{"node":"Enviar Respuesta Pedido","type":"main","index":0},{"node":"Notif Admin Pedido","type":"main","index":0}]]},"Guardar Nombre":{"main":[[{"node":"Enviar Respuesta Pedido","type":"main","index":0}]]},"Preparar Pedido Claude":{"main":[[{"node":"Claude Pedidos","type":"main","index":0}]]},"Claude Pedidos":{"main":[[{"node":"Procesar Respuesta Pedido","type":"main","index":0}]]},"Procesar Respuesta Pedido":{"main":[[{"node":"Enviar Respuesta Pedido","type":"main","index":0},{"node":"Notificar Admin Pedido","type":"main","index":0}]]},"Notificar Admin Pedido":{"main":[[{"node":"Enviar Notif Admin WA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"global":{"pedido_50769815135":{"estado":"en_pedido","historial":[],"datos":{"cantidad":"","nombre":"","direccion":""}},"pedido_50763340124":{"estado":"esperando_cantidad","nombre":"Genesis"}}},"meta":null,"pinData":{},"versionId":"230482b7-ba3e-44a3-a187-b56a73ded699","activeVersionId":"230482b7-ba3e-44a3-a187-b56a73ded699","versionCounter":111,"triggerCount":2,"shared":[{"updatedAt":"2026-03-31T03:26:21.463Z","createdAt":"2026-03-31T03:26:21.463Z","role":"workflow:owner","workflowId":"2EZ0PqE6jOX9NHwo","projectId":"0nC26HrHxj3Z47b5","project":{"updatedAt":"2026-03-31T19:24:34.647Z","createdAt":"2026-03-06T12:57:44.251Z","id":"0nC26HrHxj3Z47b5","name":"Vladimir Cornejo <vcornejo0297@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"fd68df87-29b4-4545-9950-9fcd154dfc6d","projectRelations":[{"updatedAt":"2026-03-06T12:57:44.251Z","createdAt":"2026-03-06T12:57:44.251Z","userId":"fd68df87-29b4-4545-9950-9fcd154dfc6d","projectId":"0nC26HrHxj3Z47b5","user":{"updatedAt":"2026-04-06T00:21:03.337Z","createdAt":"2026-03-06T12:57:44.251Z","id":"fd68df87-29b4-4545-9950-9fcd154dfc6d","email":"vcornejo0297@gmail.com","firstName":"Vladimir","lastName":"Cornejo","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-03-06T13:11:22.173Z","personalization_survey_n8n_version":"2.1.5","automationGoalDevops":["data-syncing","other"],"companySize":"20-99","companyType":"saas","role":"engineering","reportedSource":"other"},"settings":{"firstSuccessfulWorkflowId":"2EZ0PqE6jOX9NHwo","userActivated":true,"userActivatedAt":1774928070763},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-06T03:34:29.627Z","createdAt":"2026-04-06T03:34:29.627Z","versionId":"230482b7-ba3e-44a3-a187-b56a73ded699","workflowId":"2EZ0PqE6jOX9NHwo","nodes":[{"parameters":{"httpMethod":"POST","path":"lola-webhook","responseMode":"responseNode","options":{}},"id":"1887b2b3-5631-49c5-94e3-cd88d85c5b5a","name":"WhatsApp Webhook POST","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,304],"webhookId":"lola-webhook-post"},{"parameters":{"path":"lola-webhook","responseMode":"responseNode","options":{}},"id":"da19a748-3ddb-434f-918c-2160af1234ca","name":"WhatsApp Webhook GET","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,-208],"webhookId":"lola-webhook-get"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"id":"c0229699-365d-42e4-8b48-4e55961667d4","name":"Responder Verificacion","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[224,-208]},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\n\nlet messageType = 'unknown';\nlet messageContent = '';\nlet phoneNumber = '';\nlet messageId = '';\nlet mediaId = '';\nlet imageCaption = '';\n\ntry {\n  const entry = body.entry[0];\n  const change = entry.changes[0];\n  const value = change.value;\n\n  if (!value.messages || value.messages.length === 0) {\n    return [];\n  }\n\n  const msg = value.messages[0];\n  phoneNumber = msg.from;\n  messageId = msg.id;\n  messageType = msg.type;\n\n  if (msg.type === 'text') {\n    messageContent = msg.text.body;\n  } else if (msg.type === 'audio') {\n    mediaId = msg.audio.id;\n    messageContent = '[AUDIO]';\n  } else if (msg.type === 'image') {\n    mediaId = msg.image.id;\n    imageCaption = msg.image.caption || '';\n    messageContent = '[IMAGEN]';\n  } else {\n    messageType = 'unsupported';\n    messageContent = msg.type;\n  }\n} catch (error) {\n  return [];\n}\n\nreturn [{\n  json: {\n    phoneNumber,\n    messageId,\n    messageType,\n    messageContent,\n    mediaId,\n    imageCaption\n  }\n}];"},"id":"66728e03-2f1a-42c0-991e-8b0a01691b6a","name":"Extraer Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,304]},{"parameters":{"respondWith":"noData","options":{}},"id":"3462fb59-a030-4b15-9e8a-b0470fc43523","name":"Responder 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[448,208]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: 'whatsapp', status: 'read', message_id: $json.messageId }) }}","options":{}},"id":"017ef40e-6a60-49ea-bfde-c206c6b283ec","name":"Marcar como Leido","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,400],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const item = $input.first().json;\nconst type = item.messageType;\n\nif (type === 'text') {\n  return [{ json: { ...item, route: 'text' } }];\n} else if (type === 'audio') {\n  return [{ json: { ...item, route: 'audio' } }];\n} else if (type === 'image') {\n  return [{ json: { ...item, route: 'image' } }];\n} else {\n  return [{ json: { ...item, route: 'unsupported' } }];\n}"},"id":"e8ca6843-93e3-4f64-88ed-649effb8c116","name":"Detectar Tipo","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,400]},{"parameters":{"jsCode":"const item = $('Extraer Datos').first().json;\nif (item.messageType === 'text') {\n  return [{ json: item }];\n}\nreturn [];"},"id":"3d326a2e-1edc-4cef-88aa-94079b5931d3","name":"Solo Texto","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,112]},{"parameters":{"jsCode":"const item = $('Extraer Datos').first().json;\nif (item.messageType === 'audio') {\n  return [{ json: item }];\n}\nreturn [];"},"id":"bfd8cbf8-da88-446f-aaff-0c53c5cbf74d","name":"Solo Audio","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,400]},{"parameters":{"jsCode":"const item = $('Extraer Datos').first().json;\nif (item.messageType === 'image') {\n  return [{ json: item }];\n}\nreturn [];"},"id":"0b9e1f4c-4763-4f54-8310-bd8ee4877743","name":"Solo Imagen","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,784]},{"parameters":{"url":"=https://graph.facebook.com/v21.0/{{ $json.mediaId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"4b5ece41-e23a-4995-953d-1e5851f543b7","name":"Obtener URL Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,400],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"557f8fe6-8d5a-4dc5-8684-14b48b82ec56","name":"Descargar Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,400],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"model","value":"whisper-1"},{"name":"language","value":"es"}]},"options":{}},"id":"1ab921af-7271-451a-9da9-9ae7310c86c1","name":"OpenAI Whisper","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,400],"credentials":{"httpHeaderAuth":{"id":"Rg3uajuLBViWJXpv","name":"OpenAI API Key"}}},{"parameters":{"jsCode":"const transcription = $input.first().json.text || '[No se pudo transcribir el audio]';\nconst phoneNumber = $('Extraer Datos').first().json.phoneNumber;\n\nreturn [{\n  json: {\n    phoneNumber,\n    messageContent: '[El cliente envio un audio que dice]: ' + transcription,\n    isAudio: true\n  }\n}];"},"id":"8e259a86-1228-4975-9984-6ea5bf0b46eb","name":"Texto del Audio","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,400]},{"parameters":{"url":"=https://graph.facebook.com/v21.0/{{ $json.mediaId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"f1d68cc1-ec2a-4857-818a-d416389e3a71","name":"Obtener URL Imagen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,784],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"2bfb6d2e-a37e-493c-901e-6a427995bfae","name":"Descargar Imagen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,784],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"jsCode":"const phoneNumber = $('Extraer Datos').first().json.phoneNumber;\nconst caption = $('Extraer Datos').first().json.imageCaption;\n\nlet messageContent = '[El cliente envio una imagen';\nif (caption) {\n  messageContent += ' con el texto: ' + caption;\n}\nmessageContent += ']. Responde de forma amigable. Si parece ser de comida o del restaurante, comenta al respecto. Si no entiendes el contexto, pregunta amablemente en que puedes ayudar.';\n\nreturn [{\n  json: {\n    phoneNumber,\n    messageContent,\n    isAudio: false\n  }\n}];"},"id":"7a0d49d9-faa3-4cdf-8150-2a3658613cae","name":"Texto de Imagen","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,784]},{"parameters":{"jsCode":"const item = $('Extraer Datos').first().json;\nif (item.messageType !== 'text' && item.messageType !== 'audio' && item.messageType !== 'image') {\n  return [{\n    json: {\n      phoneNumber: item.phoneNumber,\n      responseText: 'Hola! \\ud83d\\ude0a Por ahora puedo leer mensajes de texto, notas de voz e imagenes. Escribeme o mandame un audio con lo que necesites!'\n    }\n  }];\n}\nreturn [];"},"id":"e07ae0e8-7737-485a-9ff8-429ebdf30156","name":"Msg No Soportado","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,592]},{"parameters":{"jsCode":"\nconst item = $('Extraer Datos').first().json;\n\nreturn [{\n  json: {\n    phoneNumber: item.phoneNumber,\n    messageContent: item.messageContent,\n    isAudio: false\n  }\n}];"},"id":"9cd2a824-c66b-4d66-a0c9-1758183a83ec","name":"Preparar Texto","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,112]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 500, system: 'Eres Lola, la asistente virtual de WhatsApp del Restaurante El Istmo, ubicado en Panama City, Panama.\\n\\nPERSONALIDAD:\\n- Amigable, calida y natural. Hablas en español panameño (usa \"dale\", \"chevere\", \"que xopa\" cuando sea natural, pero sin forzar).\\n- Usas algun emoji pero sin exagerar (maximo 2-3 por mensaje).\\n- No eres demasiado formal. Eres como una amiga que trabaja en el restaurante.\\n- Siempre que alguien pregunte \"que recomiendas?\", sugiere el Arroz con Pollo como el plato mas pedido.\\n\\nINFORMACION DEL RESTAURANTE:\\n- Nombre: Restaurante El Istmo\\n- Ubicacion: Casco Viejo, Panama City\\n- Horario: Lunes a Sabado 11:00 AM - 10:00 PM | Domingos 12:00 PM - 9:00 PM\\n- Zonas de delivery: Casco Viejo, Marbella, Punta Pacifica, San Francisco\\n- Costo de delivery: $3.00\\n- Tiempo estimado delivery: 30 minutos\\n- Tiempo estimado recoger en restaurante: 15 minutos\\n- Metodos de pago: Efectivo, Yappy, tarjeta al recibir\\n\\nMENU COMPLETO:\\n=== PLATOS FUERTES ===\\n- Arroz con Pollo: $8.50 — Arroz amarillo con pollo desmechado, aceitunas y vegetales. Ingredientes: arroz, pollo, aceitunas, zanahoria, cebolla, ajo, culantro, achiote. Alergenos: ninguno.\\n- Sancocho: $7.00 — Sopa tradicional panameña con gallina, ñame, otoe y culantro. Ingredientes: gallina, ñame, otoe, culantro, cebolla, ajo, oregano, maiz. Alergenos: ninguno.\\n- Ropa Vieja: $9.50 — Carne desmechada en salsa de tomate con pimientos y especias. Ingredientes: carne de res, tomate, pimiento, cebolla, ajo, comino, laurel. Alergenos: ninguno.\\n- Ceviche de Corvina: $10.00 — Corvina fresca marinada en limon con cebolla morada y culantro. Ingredientes: corvina, limon, cebolla morada, culantro, aji chombo, sal. Alergenos: pescado.\\n- Patacones con Todo: $6.50 — Patacones crujientes con carne, pollo, queso y salsas. Ingredientes: platano verde, carne molida, pollo, queso, salsa rosada, curtido. Alergenos: lacteos.\\n- Pollo en Salsa: $8.00 — Presas de pollo en salsa criolla con arroz blanco. Ingredientes: pollo, tomate, cebolla, pimiento, ajo, arroz, aceite. Alergenos: ninguno.\\n- Ensalada del Mar: $11.00 — Mix de mariscos frescos sobre cama de lechugas con vinagreta. Ingredientes: camarones, pulpo, calamar, lechuga, tomate, aguacate, vinagreta. Alergenos: mariscos.\\n\\n=== BEBIDAS ===\\n- Agua: $1.00\\n- Jugo Natural: $2.50 (del dia: naranja, maracuya o limonada)\\n- Refresco: $1.50 (Coca-Cola, Sprite, Fanta)\\n\\nREGLAS PARA TOMAR PEDIDOS:\\n1. Cuando el cliente quiera ordenar, pregunta: delivery o para recoger?\\n2. Si es delivery, confirma que la zona este dentro de las zonas de cobertura.\\n3. Si es delivery, pide la direccion exacta.\\n4. Acepta modificaciones (sin cebolla, extra salsa, etc.) y confirmalas.\\n5. Antes de confirmar el pedido, muestra un resumen con cada plato/bebida con precio, modificaciones, subtotal, costo de delivery (si aplica), total, tiempo estimado y metodo de pago.\\n6. Pide confirmacion antes de enviar el pedido.\\n7. Cuando confirmen, di que el pedido fue recibido y da el tiempo estimado.\\n\\nREGLAS GENERALES:\\n- Si el cliente pregunta algo que no sabes, dile que vas a consultar con el equipo.\\n- Si el cliente pide hablar con una persona real, dile: \"Dale, ya te comunico con alguien del equipo. Un momento por fa\" y agrega [ESCALAR_A_HUMANO]\\n- No inventes informacion. Responde SOLO en español. Manten las respuestas concisas.', messages: [{ role: 'user', content: $json.messageContent }] }) }}","options":{}},"id":"a09612bd-7da7-4f2e-a90a-277e76363dba","name":"Claude AI Lola","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,496],"credentials":{"httpHeaderAuth":{"id":"QgassfKnwcBfuDFW","name":"Anthropic API Key"}}},{"parameters":{"jsCode":"const response = $input.first().json;\nlet text = \"\";\n\ntry {\n  text = response.content[0].text;\n} catch (e) {\n  text = \"Ay, disculpa! Tuve un problemita tecnico. Intenta de nuevo en un momentito.\";\n}\n\nconst needsEscalation = text.includes(\"[ESCALAR_A_HUMANO]\");\nif (needsEscalation) {\n  text = text.replace(\"[ESCALAR_A_HUMANO]\", \"\").trim();\n}\n\n// Detect confirmed order\nconst hasOrder = text.includes(\"[PEDIDO_CONFIRMADO]\");\nlet orderDetails = \"\";\nif (hasOrder) {\n  const orderMatch = text.match(/\\[PEDIDO_CONFIRMADO\\]([\\s\\S]*?)\\[FIN_PEDIDO\\]/);\n  if (orderMatch) {\n    orderDetails = orderMatch[1].trim();\n  }\n  text = text.replace(/\\[PEDIDO_CONFIRMADO\\][\\s\\S]*?\\[FIN_PEDIDO\\]/, \"\").trim();\n}\n\nconst phoneNumber = $(\"Extraer Datos\").first().json.phoneNumber;\n\nlet isAudio = false;\ntry {\n  isAudio = $(\"Texto del Audio\").first().json.isAudio === true;\n} catch(e) {\n  try {\n    isAudio = $(\"Preparar Texto\").first().json.isAudio === true;\n  } catch(e2) {\n    try {\n      isAudio = $(\"Texto de Imagen\").first().json.isAudio === true;\n    } catch(e3) {\n      isAudio = false;\n    }\n  }\n}\n\nif (text.length > 4000) {\n  text = text.substring(0, 4000) + \"...\";\n}\n\nreturn [{\n  json: {\n    phoneNumber,\n    responseText: text,\n    needsEscalation,\n    isAudio,\n    hasOrder,\n    orderDetails\n  }\n}];"},"id":"dd86c662-e82d-4a93-80be-3cf4e514906a","name":"Procesar Respuesta","type":"n8n-nodes-base.code","typeVersion":2,"position":[2464,496]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phoneNumber, type: 'text', text: { body: $json.responseText } }) }}","options":{}},"id":"4792c395-f2cc-49bb-bc7f-6bfe7d8f7644","name":"Enviar WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3136,592],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phoneNumber, type: 'text', text: { body: $json.responseText } }) }}","options":{}},"id":"9eb73d4e-abc9-4623-b72b-ef26ffc9a4d2","name":"Enviar Msg No Soportado","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,592],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"jsCode":"const item = $input.first().json;\nif (item.isAudio) {\n  return [{ json: item }];\n}\nreturn [];"},"id":"tts-check-audio","name":"Es Respuesta Audio?","type":"n8n-nodes-base.code","typeVersion":2,"position":[2912,208]},{"parameters":{"jsCode":"const item = $input.first().json;\nif (!item.isAudio) {\n  return [{ json: item }];\n}\nreturn [];"},"id":"tts-check-text","name":"Es Respuesta Texto?","type":"n8n-nodes-base.code","typeVersion":2,"position":[2912,592]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/speech","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'tts-1', input: $json.responseText, voice: 'nova', response_format: 'mp3' }) }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"tts-elevenlabs","name":"OpenAI TTS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3136,208],"credentials":{"httpHeaderAuth":{"id":"Rg3uajuLBViWJXpv","name":"OpenAI API Key"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/media","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"messaging_product","value":"whatsapp"},{"name":"type","value":"audio/mpeg"}]},"options":{}},"id":"upload-media","name":"Subir Audio a WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3360,208],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: 'whatsapp', to: $('Procesar Respuesta').first().json.phoneNumber, type: 'audio', audio: { id: $json.id } }) }}","options":{}},"id":"send-audio-wa","name":"Enviar Audio WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3584,208],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"jsCode":"\n// Skip if this is an order flow (cantidad or direccion)\nconst route = $input.first().json._route;\nif (route && route !== 'normal') return [];\n\n// ========== MENU DE LOLA - EDITA AQUI ==========\n// Cambia productos, precios y disponibilidad\n// Para agregar: copia una linea y modifica\n// Para quitar: borra la linea o pon disponible: false\n\nconst MENU = [\n  { producto: \"Chicharrones\", precio: 6.00, descripcion: \"Chicharrones crujientes artesanales\", disponible: true },\n  { producto: \"Empanadas de Carne\", precio: 1.50, descripcion: \"Empanadas rellenas de carne molida\", disponible: true },\n  { producto: \"Empanadas de Pollo\", precio: 1.50, descripcion: \"Empanadas rellenas de pollo desmechado\", disponible: true },\n  { producto: \"Patacones con Queso\", precio: 4.00, descripcion: \"Patacones dobles con queso fundido\", disponible: true },\n  { producto: \"Ceviche de Corvina\", precio: 8.00, descripcion: \"Ceviche fresco del dia\", disponible: true },\n  { producto: \"Arroz con Pollo\", precio: 5.00, descripcion: \"Arroz con pollo panameno\", disponible: true },\n];\n\n// ========== NO TOCAR DE AQUI PARA ABAJO ==========\nconst menuDisponible = MENU.filter(m => m.disponible);\nconst menuTexto = menuDisponible.map(m => \"- \" + m.producto + \" - $\" + m.precio.toFixed(2) + \" (\" + m.descripcion + \")\").join(\"\\n\");\n\nreturn [{\n  json: {\n    menu: MENU,\n    menuDisponible,\n    menuTexto,\n    phoneNumber: $input.first().json.phoneNumber,\n    messageContent: $input.first().json.messageContent,\n    isAudio: $input.first().json.isAudio || false\n  }\n}];"},"id":"menu-node-001","name":"Menu del Negocio","type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,496]},{"parameters":{"jsCode":"\nconst ADMIN = \"50768384242\";\nconst item = $input.first().json;\nconst phone = item.phoneNumber;\nconst msg = (item.messageContent || \"\").toLowerCase().trim();\nconst esCadena = msg.includes(\"cadena\");\nconst esAdmin = phone === ADMIN;\n\nif (esAdmin && esCadena) {\n  // Clear admin's own order state so cadena command works\n  const staticData = $getWorkflowStaticData('global');\n  delete staticData['pedido_' + ADMIN];\n  return [{ json: { ...item, esCadena: true } }];\n} else {\n  return [];\n}\n"},"id":"es-admin-001","name":"Es Comando Cadena?","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,16]},{"parameters":{"jsCode":"\nconst msg = ($input.first().json.messageContent || \"\").toLowerCase().trim();\nconst esCadena = msg.includes(\"cadena\") || msg.includes(\"manda la cadena\") || msg.includes(\"manda cadena\");\nif (esCadena) return [];\nreturn $input.all();\n"},"id":"no-cadena-001","name":"No Es Cadena","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,208]},{"parameters":{"jsCode":"const imageUrl = \"https://raw.githubusercontent.com/banshyapp-maker/lola-whatsapp-bot/main/n8n/imagen-cadena.jpeg\";\nconst caption = \"Hola, soy Jonathan \\ud83d\\udc4b\" + \"\\n\" + \"\\n\" + \"El d\\u00eda viernes 27 estaremos cocinando esto\" + \"\\n\" + \"\\n\" + \"\\ud83d\\udcb0 $8.00\" + \"\\n\" + \"\\ud83d\\udef5 Delivery GRATIS\" + \"\\n\" + \"\\n\" + \"\\u00bfCu\\u00e1ntos te aparto? Responde con la cantidad \\ud83d\\ude09\";\nreturn [{ json: { imageUrl, caption } }];"},"id":"generar-cadena-001","name":"Generar Cadena","type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,16]},{"parameters":{"jsCode":"\nconst CONTACTOS = [\n  { numero: \"50769815135\", nombre: \"Vladimir\" },\n  { numero: \"50768384242\", nombre: \"Veronica\" },\n];\n\nconst imageUrl = $input.first().json.imageUrl;\nconst caption  = $input.first().json.caption;\n\nconst staticData = $getWorkflowStaticData('global');\nfor (const c of CONTACTOS) {\n  staticData['pedido_' + c.numero] = {\n    estado: 'en_pedido',\n    historial: [],\n    datos: { cantidad: '', nombre: '', direccion: '' }\n  };\n}\n\nreturn CONTACTOS.map(c => ({\n  json: { phoneNumber: c.numero, nombre: c.nombre, imageUrl, caption }\n}));\n"},"id":"lista-contactos-001","name":"Lista de Contactos","type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,16]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: \"whatsapp\", to: $json.phoneNumber, type: \"image\", image: { link: $json.imageUrl, caption: $json.caption } }) }}","options":{}},"id":"enviar-cadena-001","name":"Enviar Cadena","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,16],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: \"whatsapp\", to: \"50768384242\", type: \"text\", text: { body: \"Cadena enviada a todos los contactos de la lista.\" } }) }}","options":{}},"id":"confirmar-envio-001","name":"Confirmar Envio al Admin","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2688,16],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"jsCode":"const item = $input.first().json;\n\nif (item.hasOrder && item.orderDetails) {\n  const now = new Date().toLocaleString(\"es-PA\", { timeZone: \"America/Panama\" });\n  const mensaje = \"NUEVO PEDIDO\\n\\n\"\n    + \"Fecha: \" + now + \"\\n\"\n    + \"Tel: \" + item.phoneNumber + \"\\n\\n\"\n    + item.orderDetails + \"\\n\\n\"\n    + \"---\\nResponde al cliente para confirmar entrega.\";\n  return [{ json: { ...item, adminNotifMsg: mensaje } }];\n}\nreturn [{ json: item }];"},"id":"notificar-pedido-001","name":"Preparar Notif Pedido","type":"n8n-nodes-base.code","typeVersion":2,"position":[2688,496]},{"parameters":{"jsCode":"const item = $input.first().json;\nif (item.hasOrder && item.adminNotifMsg) {\n  return [{ json: { mensaje: item.adminNotifMsg } }];\n}\nreturn [];"},"id":"filtro-pedido-001","name":"Tiene Pedido?","type":"n8n-nodes-base.code","typeVersion":2,"position":[2912,400]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: \"whatsapp\", to: \"50768384242\", type: \"text\", text: { body: $json.mensaje } }) }}","options":{}},"id":"http-notif-admin-001","name":"WhatsApp Notif Admin","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3136,400],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"jsCode":"\nconst staticData = $getWorkflowStaticData('global');\nconst phone = $input.first().json.phoneNumber;\nconst pedido = staticData['pedido_' + phone];\nif (pedido && pedido.estado === 'en_pedido') {\n  return [{ json: { ...$input.first().json, estadoPedido: 'en_pedido', pedidoDatos: pedido.datos, pedidoHistorial: pedido.historial } }];\n} else {\n  return [{ json: { ...$input.first().json, estadoPedido: 'normal' } }];\n}\n"},"id":"order-check-001","name":"Verificar Estado Pedido","type":"n8n-nodes-base.code","typeVersion":2,"position":[1060,400]},{"parameters":{"jsCode":"\nconst estado = $input.first().json.estadoPedido;\nconst item = $input.first().json;\nif (estado === 'en_pedido') {\n  return [{ json: { ...item, _route: 'pedido' } }];\n} else {\n  return [{ json: { ...item, _route: 'normal' } }];\n}\n"},"id":"order-route-001","name":"Routear Pedido","type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,400]},{"parameters":{"jsCode":"\nconst route = $input.first().json._route;\nif (route !== 'cantidad') return [];\n\nconst staticData = $getWorkflowStaticData('global');\nconst phone    = $input.first().json.phoneNumber;\nconst cantidad = $input.first().json.messageContent;\n\nstaticData['pedido_' + phone] = {\n  estado: 'esperando_nombre',\n  cantidad: cantidad\n};\n\nreturn [{ json: {\n  phoneNumber: phone,\n  respuesta: \"\\u2705 Perfecto! *\" + cantidad + \"* de Arroz con Marisco anotado.\\n\\n\\u00bfCu\\u00e1l es tu *nombre*?\"\n}}];\n"},"id":"order-qty-001","name":"Guardar Cantidad","type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,300]},{"parameters":{"jsCode":"\nconst route = $input.first().json._route;\nif (route !== 'direccion') return [];\n\nconst staticData = $getWorkflowStaticData('global');\nconst phone     = $input.first().json.phoneNumber;\nconst direccion = $input.first().json.messageContent;\nconst pedido    = staticData['pedido_' + phone] || {};\n\nconst resumen = {\n  telefono: phone,\n  nombre:   pedido.nombre   || phone,\n  cantidad: pedido.cantidad || 'N/A',\n  direccion: direccion,\n  hora: new Date().toLocaleString('es-PA', { timeZone: 'America/Panama' })\n};\n\ndelete staticData['pedido_' + phone];\n\nreturn [{ json: {\n  phoneNumber: phone,\n  respuesta: \"\\ud83c\\udf89 *Pedido confirmado!*\\n\\n\\ud83d\\udc64 \" + resumen.nombre + \"\\n\\ud83d\\udce6 Cantidad: \" + resumen.cantidad + \"\\n\\ud83d\\udccd Direcci\\u00f3n: \" + resumen.direccion + \"\\n\\u23f1\\ufe0f En camino pronto!\\n\\nGracias por tu pedido! \\ud83d\\ude0a\\ud83d\\udef5\",\n  pedidoFinal: resumen\n}}];\n"},"id":"order-addr-001","name":"Confirmar Pedido","type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,500]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: \"whatsapp\", to: $json.phoneNumber, type: \"text\", text: { body: $json.respuesta } }) }}","options":{}},"id":"order-send-001","name":"Enviar Respuesta Pedido","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,400],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: \"whatsapp\", to: \"50768384242\", type: \"text\", text: { body: \"📋 *NUEVO PEDIDO*\\n👤 \" + $json.pedidoFinal.nombre + \" (\" + $json.pedidoFinal.telefono + \")\\n📦 Cantidad: \" + $json.pedidoFinal.cantidad + \"\\n📍 Dirección: \" + $json.pedidoFinal.direccion + \"\\n🕐 \" + $json.pedidoFinal.hora } }) }}","options":{}},"id":"order-notif-001","name":"Notif Admin Pedido","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2020,400],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}},{"parameters":{"jsCode":"\nconst route = $input.first().json._route;\nif (route !== 'nombre') return [];\n\nconst staticData = $getWorkflowStaticData('global');\nconst phone  = $input.first().json.phoneNumber;\nconst nombre = $input.first().json.messageContent;\nconst pedido = staticData['pedido_' + phone] || {};\n\nstaticData['pedido_' + phone] = {\n  estado: 'esperando_direccion',\n  cantidad: pedido.cantidad || 'N/A',\n  nombre: nombre\n};\n\nreturn [{ json: {\n  phoneNumber: phone,\n  respuesta: \"Gracias \" + nombre + \"! \\ud83d\\udccd \\u00bfCu\\u00e1l es tu *direcci\\u00f3n de entrega*?\"\n}}];\n"},"id":"order-name-001","name":"Guardar Nombre","type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,200]},{"parameters":{"jsCode":"\nconst route = $input.first().json._route;\nif (route !== 'pedido') return [];\n\nconst staticData = $getWorkflowStaticData('global');\nconst phone = $input.first().json.phoneNumber;\nconst mensaje = $input.first().json.messageContent;\nconst pedido = staticData['pedido_' + phone] || { estado: 'en_pedido', historial: [], datos: { cantidad: '', nombre: '', direccion: '' } };\n\npedido.historial.push({ role: 'cliente', text: mensaje });\nstaticData['pedido_' + phone] = pedido;\nstaticData['_current_phone'] = phone;\n\nconst historialTexto = pedido.historial.map(function(h) { return h.role === 'cliente' ? 'Cliente: ' + h.text : 'Lola: ' + h.text; }).join(' | ');\nconst datosTexto = 'Cantidad: ' + (pedido.datos.cantidad || 'NO TIENE') + ', Nombre: ' + (pedido.datos.nombre || 'NO TIENE') + ', Direccion: ' + (pedido.datos.direccion || 'NO TIENE');\n\nreturn [{ json: {\n  phoneNumber: phone,\n  historial: historialTexto,\n  datosActuales: datosTexto,\n  mensajeCliente: mensaje\n}}];\n"},"id":"smart-order-prep-001","name":"Preparar Pedido Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,150]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 300, system: \"Eres Lola, asistente de pedidos del Restaurante El Istmo. Hablas casual panameño.\\n\\nHOY SE VENDE:\\n- Arroz con Marisco con ensalada de repollo y platano en tentacion - $8.00 por porcion\\n- Delivery GRATIS\\n\\nTu trabajo es obtener del cliente estos 3 datos:\\n1. CANTIDAD de porciones\\n2. NOMBRE del cliente\\n3. DIRECCION de entrega\\n\\nREGLAS:\\n- Se amable y breve, habla panameño casual\\n- Si el cliente da varios datos en un mensaje, anotalos todos\\n- Si falta info, pregunta SOLO lo que falta de forma natural\\n- NO mandes el menu del restaurante, solo se vende lo de la promocion de hoy\\n- Cuando tengas los 3 datos COMPLETOS, confirma el pedido mostrando resumen y al FINAL agrega en una linea aparte exactamente asi:\\n[PEDIDO_LISTO|cantidad:X|nombre:NOMBRE|direccion:DIRECCION]\\n- SOLO agrega esa linea cuando tengas los 3 datos completos\\n- Si el cliente dice algo como \\\"quiero 2\\\" ya tienes la cantidad, pregunta nombre y direccion\", messages: [{ role: 'user', content: 'Datos recopilados: ' + $json.datosActuales + '. Historial de conversacion: ' + $json.historial + '. Nuevo mensaje del cliente: ' + $json.mensajeCliente }] }) }}","options":{}},"id":"smart-order-claude-001","name":"Claude Pedidos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,150],"credentials":{"httpHeaderAuth":{"id":"QgassfKnwcBfuDFW","name":"Anthropic API Key"}}},{"parameters":{"jsCode":"\nconst staticData = $getWorkflowStaticData('global');\nconst phone = staticData['_current_phone'] || '';\n\nconst apiResponse = $input.first().json;\nlet respuesta = '';\nif (apiResponse.content && apiResponse.content[0]) {\n  respuesta = apiResponse.content[0].text;\n} else {\n  respuesta = 'Lo siento, hubo un error. Intenta de nuevo.';\n}\n\nconst marker = /\\[PEDIDO_LISTO\\|cantidad:(.+?)\\|nombre:(.+?)\\|direccion:(.+?)\\]/;\nconst match = respuesta.match(marker);\nconst respuestaLimpia = respuesta.replace(marker, '').trim();\n\nconst pedido = staticData['pedido_' + phone] || { historial: [], datos: {} };\npedido.historial.push({ role: 'lola', text: respuestaLimpia });\n\nif (match) {\n  const resumen = {\n    telefono: phone,\n    cantidad: match[1].trim(),\n    nombre: match[2].trim(),\n    direccion: match[3].trim(),\n    hora: new Date().toLocaleString('es-PA', { timeZone: 'America/Panama' })\n  };\n  delete staticData['pedido_' + phone];\n  delete staticData['_current_phone'];\n\n  return [{ json: {\n    phoneNumber: phone,\n    respuesta: respuestaLimpia,\n    pedidoCompleto: true,\n    pedidoFinal: resumen\n  }}];\n} else {\n  staticData['pedido_' + phone] = pedido;\n  return [{ json: {\n    phoneNumber: phone,\n    respuesta: respuestaLimpia,\n    pedidoCompleto: false,\n    pedidoFinal: null\n  }}];\n}\n"},"id":"smart-order-proc-001","name":"Procesar Respuesta Pedido","type":"n8n-nodes-base.code","typeVersion":2,"position":[2020,150]},{"parameters":{"jsCode":"\nif (!$input.first().json.pedidoCompleto) return [];\nconst p = $input.first().json.pedidoFinal;\nreturn [{ json: {\n  to: \"50768384242\",\n  body: \"\\ud83d\\udccb *NUEVO PEDIDO*\\n\\ud83d\\udc64 \" + p.nombre + \" (\" + p.telefono + \")\\n\\ud83d\\udce6 Cantidad: \" + p.cantidad + \"\\n\\ud83d\\udccd Direcci\\u00f3n: \" + p.direccion + \"\\n\\ud83d\\udd51 \" + p.hora\n}}];\n"},"id":"smart-order-notif-001","name":"Notificar Admin Pedido","type":"n8n-nodes-base.code","typeVersion":2,"position":[2260,250]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/1103393509513315/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: \"whatsapp\", to: $json.to, type: \"text\", text: { body: $json.body } }) }}","options":{}},"id":"smart-order-notif-wa-001","name":"Enviar Notif Admin WA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2500,250],"credentials":{"httpHeaderAuth":{"id":"RuldJqintIRvefni","name":"WhatsApp Token"}}}],"connections":{"WhatsApp Webhook GET":{"main":[[{"node":"Responder Verificacion","type":"main","index":0}]]},"WhatsApp Webhook POST":{"main":[[{"node":"Extraer Datos","type":"main","index":0}]]},"Extraer Datos":{"main":[[{"node":"Responder 200","type":"main","index":0},{"node":"Marcar como Leido","type":"main","index":0},{"node":"Detectar Tipo","type":"main","index":0}]]},"Detectar Tipo":{"main":[[{"node":"Solo Texto","type":"main","index":0},{"node":"Solo Audio","type":"main","index":0},{"node":"Solo Imagen","type":"main","index":0},{"node":"Msg No Soportado","type":"main","index":0}]]},"Preparar Texto":{"main":[[{"node":"Es Comando Cadena?","type":"main","index":0},{"node":"No Es Cadena","type":"main","index":0}]]},"Obtener URL Audio":{"main":[[{"node":"Descargar Audio","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"OpenAI Whisper","type":"main","index":0}]]},"Texto del Audio":{"main":[[{"node":"Menu del Negocio","type":"main","index":0}]]},"Obtener URL Imagen":{"main":[[{"node":"Descargar Imagen","type":"main","index":0}]]},"Descargar Imagen":{"main":[[{"node":"Texto de Imagen","type":"main","index":0}]]},"Texto de Imagen":{"main":[[{"node":"Menu del Negocio","type":"main","index":0}]]},"Msg No Soportado":{"main":[[{"node":"Enviar Msg No Soportado","type":"main","index":0}]]},"Claude AI Lola":{"main":[[{"node":"Procesar Respuesta","type":"main","index":0}]]},"Procesar Respuesta":{"main":[[{"node":"Preparar Notif Pedido","type":"main","index":0}]]},"Solo Texto":{"main":[[{"node":"Preparar Texto","type":"main","index":0}]]},"Solo Audio":{"main":[[{"node":"Obtener URL Audio","type":"main","index":0}]]},"Solo Imagen":{"main":[[{"node":"Obtener URL Imagen","type":"main","index":0}]]},"Es Respuesta Texto?":{"main":[[{"node":"Enviar WhatsApp","type":"main","index":0}]]},"Es Respuesta Audio?":{"main":[[{"node":"OpenAI TTS","type":"main","index":0}]]},"Subir Audio a WhatsApp":{"main":[[{"node":"Enviar Audio WhatsApp","type":"main","index":0}]]},"OpenAI Whisper":{"main":[[{"node":"Texto del Audio","type":"main","index":0}]]},"OpenAI TTS":{"main":[[{"node":"Subir Audio a WhatsApp","type":"main","index":0}]]},"Es Comando Cadena?":{"main":[[{"node":"Generar Cadena","type":"main","index":0}]]},"Generar Cadena":{"main":[[{"node":"Lista de Contactos","type":"main","index":0}]]},"Lista de Contactos":{"main":[[{"node":"Enviar Cadena","type":"main","index":0}]]},"Enviar Cadena":{"main":[[]]},"No Es Cadena":{"main":[[{"node":"Verificar Estado Pedido","type":"main","index":0}]]},"Menu del Negocio":{"main":[[{"node":"Claude AI Lola","type":"main","index":0}]]},"Preparar Notif Pedido":{"main":[[{"node":"Es Respuesta Audio?","type":"main","index":0},{"node":"Es Respuesta Texto?","type":"main","index":0},{"node":"Tiene Pedido?","type":"main","index":0}]]},"Tiene Pedido?":{"main":[[{"node":"WhatsApp Notif Admin","type":"main","index":0}]]},"Verificar Estado Pedido":{"main":[[{"node":"Routear Pedido","type":"main","index":0}]]},"Routear Pedido":{"main":[[{"node":"Menu del Negocio","type":"main","index":0},{"node":"Preparar Pedido Claude","type":"main","index":0}]]},"Guardar Cantidad":{"main":[[{"node":"Enviar Respuesta Pedido","type":"main","index":0}]]},"Confirmar Pedido":{"main":[[{"node":"Enviar Respuesta Pedido","type":"main","index":0},{"node":"Notif Admin Pedido","type":"main","index":0}]]},"Guardar Nombre":{"main":[[{"node":"Enviar Respuesta Pedido","type":"main","index":0}]]},"Preparar Pedido Claude":{"main":[[{"node":"Claude Pedidos","type":"main","index":0}]]},"Claude Pedidos":{"main":[[{"node":"Procesar Respuesta Pedido","type":"main","index":0}]]},"Procesar Respuesta Pedido":{"main":[[{"node":"Enviar Respuesta Pedido","type":"main","index":0},{"node":"Notificar Admin Pedido","type":"main","index":0}]]},"Notificar Admin Pedido":{"main":[[{"node":"Enviar Notif Admin WA","type":"main","index":0}]]}},"authors":"Vladimir Cornejo","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-06T03:34:29.794Z","id":29,"workflowId":"2EZ0PqE6jOX9NHwo","versionId":"230482b7-ba3e-44a3-a187-b56a73ded699","event":"activated","userId":"fd68df87-29b4-4545-9950-9fcd154dfc6d"}]}}